#body-card {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.1); /* Black w/ opacity */
  background-color: rgb(0, 0, 0); /* Fallback color */
  min-width: 60px;
}

.body-card-container {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  min-width: 10%;
  width: 50%;
}

.body-card-show-image {
  max-width: 70%;
  min-width: 60px;
}
/* Animations*/
#body-card {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0.4);
  }
  to {
    transform: scale(1);
  }
}
@keyframes fade {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}

/*From a minimum width and bigger*/

@media (min-width: 320px) {
  #body-card {
    padding-top: 75px;
  }
  .body-card-container {
    margin: 0 auto;
    width: 100%;
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: 1.25rem;
  }
  .body-card-show-image {
    width: 30vw;
    margin-left: 4%;
  }
}
@media (min-width: 375px) {
  #body-card {
    padding-top: 60px;
  }
  .body-card-container {
    margin: 0 auto;
    width: 100%;
    padding-left: 2vw;
    padding-right: 1vw;
    font-size: 1.3rem;
  }
  .body-card-show-image {
    width: 30vw;
    margin-left: 4%;
  }
  #body-card-font {
    margin-left: 1%;
  }
}
@media (min-width: 425px) {
  #body-card {
    padding-top: 55px;
  }
  .body-card-container {
    margin: 0 auto;
    width: 100%;
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: 1.3rem;
  }
  .body-card-show-image {
    width: 30vw;
    margin-left: 4%;
  }
  #body-card-font {
    margin-left: 1.5%;
  }
}
@media (min-width: 768px) {
  #body-card {
    padding-top: 90px;
  }
  .body-card-container {
    margin: 0 auto;
    width: 100%;
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: 1.6rem;
  }
  .body-card-show-image {
    max-width: 100%;
    width: 100%;
    margin-left: 5.5%;
  }
  #body-card-font {
    margin-left: 1.5%;
  }
}

@media (min-width: 1024px) {
  #body-card {
    padding-top: 80px;
  }
  .body-card-container {
    margin: 0 auto;
    width: 80%;
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: 1.5rem;
  }
  .body-card-show-image {
    max-width: 100%;
    width: 100%;
    margin-left: 4.5%;
  }
  #body-card-font {
    margin-left: 1%;
  }
}
@media (min-width: 1085px) {
  #body-card {
    padding-top: 60px;
  }
  .body-card-container {
    margin: 0 auto;
    width: 80%;
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: 1.6rem;
  }
  .body-card-show-image {
    max-width: 100%;
    width: 100%;
    margin-left: 5.5%;
  }
  #body-card-font {
    margin-left: 1.5%;
  }
}
@media (min-width: 1440px) {
  .body-card-container {
    margin: 0 auto;
    width: 70%;
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: 2rem;
  }
  .body-card-show-image {
    max-width: 100%;
    width: 100%;
    margin-left: 3.5%;
  }
}
@media (min-width: 2560px) {
  #body-card {
    padding-top: 250px;
  }
  .body-card-container {
    margin: 0 auto;
    width: 70%;
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: 2.3rem;
  }
  .body-card-show-image {
    max-width: 100%;
    width: 100%;
    margin-left: 2.5%;
  }
}
