.App {
  text-align: center;
}

.displayLoginForm {
  display: block;
}
.dontDisplayLoginForm {
  display: none;
}
#logoutButton:hover {
  cursor: pointer;
}
.close-card-button {
  color: #9d0000;
  font-size: 3rem;
  font-weight: bolder;
  position: absolute;
  right: 0px;
  top: 0px;
  cursor: pointer;
  z-index: 1;
}

@media (max-width: 425px) {
  #logoImg {
    width: 10vw;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  #userImg {
    width: 35vw;
    border-top-left-radius: 0px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}
@media (min-width: 426px) {
  #logoImg {
    width: 5vw;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }
}
@media (min-width: 768px) {
  #userImg {
    width: 15vw;
    border-top-left-radius: 0px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}
@media (min-width: 1020px) {
  #logoImg {
    width: 5vw;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  #userImg {
    width: 10vw;
    border-top-left-radius: 0px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}
@media (min-width: 1200px) {
  #logoImg {
    width: 3vw;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  #userImg {
    width: 8vw;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;
  }
}
@media (min-width: 1440px) {
  #logoImg {
    width: 5vw;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }
}
