#form {
  width: 30%;
  margin: 0 auto;
  font: 2rem;
  background-color: rgb(102, 100, 100);
}

@media (min-width: 320px) {
  #form {
    width: 80vw;
    margin: 0 auto;
    font: 2rem;
    margin-top: 5%;
  }
}

@media (min-width: 768px) {
  #form {
    width: 50vw;
    margin: 0 auto;
    font: 2rem;
    margin-top: 5%;
  }
}

@media (min-width: 1024px) {
  #form {
    width: 30vw;
    margin: 0 auto;
    font: 2rem;
    margin-top: 5%;
  }
}

@media (min-width: 1440px) {
  #form {
    width: 35vw;
    margin: 0 auto;
    font: 2rem;
    margin-top: 5%;
  }
}
