.form {
  width: 30%;
  margin: 0 auto;
  font: 2rem;
  background-color: transparent;
  font-family: "Roboto Condensed", sans-serif;
}
/*id="settings-image"*/
@media (min-width: 320px) {
  .form {
    width: 72vw;
    margin: 0 auto;
    font: 2rem;
    margin-top: 5%;
  }
  .settings-flex-container {
    display: flex;
    flex-wrap: wrap;
  }
  .settings-image {
    width: 40vw;
    margin: 0 auto;
    margin-left: 7vw;
  }
  .settings-form {
    display: flex;
    flex-wrap: wrap;
  }
  .settings-button {
    align-self: auto;
  }
}

@media (min-width: 720px) {
  .form {
    width: 30vw;
    margin: 0 auto;
    font: 2rem;
    margin-top: 5%;
  }
  .settings-button {
    align-self: auto;
  }
  .settings-flex-container {
    align-items: baseline;
  }

  .settings-form {
    display: inline;
    flex-wrap: wrap;
    margin-right: 12vw;
  }
  .settings-image {
    margin: 0 auto;
    width: min-content;
  }
}

@media (min-width: 1024px) {
  .form {
    width: 30vw;
    margin: 0 auto;
    font: 2rem;
    margin-top: -5%;
  }
  .settings-flex-container {
    width: 70vw;
    margin-left: 26vw;
  }
  .settings-form {
    margin-right: 12vw;
  }
  .settings-image {
    display: inline;
    margin: 0 auto;
    width: min-content;
  }
  #settings-input {
    width: 25vw;
  }
}

@media (min-width: 1440px) {
  .form {
    width: 35vw;
    margin: 0 auto;
    font: 2rem;
    margin-top: 5%;
  }
}
