.error-div {
  width: 75%;
}
.error-paragraph {
  color: white;
  margin-left: 32%;
  font-size: 1.2rem;
}
#error-close-button {
  display: inline;
  color: red;
  font-weight: bold;
  font-size: 2.2em;
  z-index: 1;
  cursor: pointer;
}

img {
  width: 100%;
}

.error-movie-not-in-data-base-paragraph {
  color: black;
  font-size: 1.3rem;
  font-weight: bold;
  margin-left: 3%;
}

.movie-input-container {
  border: 2px solid grey;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: rgba(0, 0, 0, 0);
  outline: 0;
  width: 20vw;
  margin: 0 auto;
  font-size: 1.2em;
}

.movie-input-style {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  outline: 0;
  width: 17vw;
  font-size: 1.2em;
}
#movie-input:hover {
  animation-name: movie-input-border-effect;
  animation-duration: 1.5s;
  animation-delay: -0.5s;
  animation-iteration-count: 2;
  animation-timing-function: linear;
  background-color: rgb(185, 184, 184);
  transition: 0.3s;
  -webkit-animation-name: movie-input-border-effect;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-delay: -0.1s;
  -webkit-animation-iteration-count: 2;
  -webkit-animation-timing-function: linear;
  -webkit-background-color: rgb(185, 184, 184);
  -webkit-transition: 0.5s;
}
@keyframes movie-input-border-effect {
  0% {
    border-top-style: solid;
    border-top-color: whitesmoke;
  }
  25% {
    border-top-style: solid;
    border-top-color: whitesmoke;
    border-right-style: solid;
    border-right-color: whitesmoke;
  }
  50% {
    border-right-style: solid;
    border-right-color: whitesmoke;
    border-bottom-style: solid;
    border-bottom-color: whitesmoke;
  }
  75% {
    border-bottom-style: solid;
    border-bottom-color: whitesmoke;
    border-left-style: solid;
    border-left-color: whitesmoke;
  }
  100% {
    border-left-style: solid;
    border-left-color: whitesmoke;
  }
}
#MovieSearchButton {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  outline: 0;
  font-size: 1em;
  display: inline;
}

/*From a minimum width and bigger*/
@media (min-width: 320px) {
  .movie-input-container {
    width: 50vw;
    font-size: 1.2rem;
  }
  .movie-input-style {
    width: 38vw;
  }
  #movie-input:hover {
    width: 51vw;
    transform: translate(1px, -5px);
  }
  .error-paragraph {
    margin-left: 30%;
    font-size: 1.2rem;
  }
}
@media (min-width: 375px) {
  #error-close-button {
    color: red;
    font-weight: bold;
    font-size: 2em;
    margin-top: 235%;
    margin-right: 15%;
    z-index: 1;
  }
}
@media (min-width: 425px) {
  .movie-input-style {
    width: 40vw;
  }
  #movie-input:hover {
    width: 52vw;
    transform: translate(1px, -5px);
  }
  #error-close-button {
    color: red;
    font-weight: bold;
    font-size: 2em;
    margin-top: 214%;
    margin-right: 23%;
    z-index: 1;
  }
}
@media (min-width: 768px) {
  .movie-input-container {
    font-size: 1.3rem;
  }
  .movie-input-style {
    width: 43vw;
  }
  .error-paragraph {
    margin-left: 45%;
    font-size: 1.8rem;
  }
  #error-close-button {
    color: red;
    font-weight: bold;
    font-size: 2.5em;
    margin-top: 165%;
    margin-right: 25%;
    z-index: 1;
  }
}

@media (min-width: 1024px) {
  .movie-input-container {
    width: 25vw;
    font-size: 1.5rem;
  }
  .movie-input-style {
    width: 20vw;
  }
  #movie-input:hover {
    width: 26vw;
    transform: translate(1px, -5px);
  }

  .error-paragraph {
    margin-left: 45%;
    font-size: 2rem;
  }
  #error-close-button {
    color: red;
    font-weight: bold;
    font-size: 3em;
    margin-top: 132%;
    margin-right: 33%;
    z-index: 1;
  }
}
@media (min-width: 1440px) {
  .movie-input-container {
    width: 21vw;
    font-size: 2rem;
  }
  .movie-input-style {
    width: 17vw;
  }
  #movie-input:hover {
    width: 22vw;
    transform: translate(1px, -5px);
  }
  .error-paragraph {
    margin-left: 45%;
    font-size: 2.5rem;
  }
  #error-close-button {
    color: red;
    font-weight: bold;
    font-size: 3em;
    margin-top: 94%;
    margin-right: 33%;
    z-index: 1;
  }
}
@media (min-width: 2560px) {
  .movie-input-container {
    width: 25vw;
    font-size: 2.5rem;
  }
  .movie-input-style {
    width: 22vw;
  }
  #movie-input:hover {
    width: 26vw;
    transform: translate(1px, -5px);
  }
  .error-paragraph {
    margin-left: 45%;
    font-size: 2.8rem;
  }
  #error-close-button {
    color: red;
    font-weight: bold;
    font-size: 4em;
    margin-top: 61%;
    margin-right: 40%;
    z-index: 1;
  }
}
