#movie-error-back-drop {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 2;
  pointer-events: none;
  display: none;
}

#movie-error-back-drop.visible {
  display: block;
  pointer-events: all;
}

.close-movie-trailer-button {
  color: #e20a0a;
  font-size: 3.7em;
  font-weight: bolder;
  position: absolute;
  right: 0px;
  top: 0px;
  cursor: pointer;
  z-index: 1;
}

.movie-search-result-card {
  border: none;
  background-size: contain;
  background-color: #c7cbd4;
  background-position: 0% 30%;
  background-repeat: no-repeat;
  backface-visibility: hidden;
}
.movie-search-container {
  display: flex;
  justify-content: space-between;
  min-width: 20%;
  margin: 0 auto;
  width: 50%;
}
#movie-model {
  display: none;
  position: fixed;
  z-index: 2;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.1); /* Black w/ opacity */
  background-color: rgb(0, 0, 0); /* Fallback color */
  min-width: 60px;
}
#movie-trailer {
  display: none;
  position: fixed;
  z-index: 2;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.1); /* Black w/ opacity */
  background-color: rgb(0, 0, 0); /* Fallback color */
  min-width: 60px;
}
.movie-trailer-container {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  min-width: 10%;
  width: 100%;
}
.movie-search-result-iframe {
  margin-top: 5%;
  width: 90vw;
  height: 85vw;
}

#movie-search-result-font {
  font-size: 1.3rem;
  font-family: "Roboto Condensed", sans-serif;
}

@media (min-width: 320px) {
  .movie-search-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 90%;
    font-size: 1.3rem;
  }

  #movie-search-result-font {
    margin-left: 1%;
  }
  .movie-search-result-iframe {
    margin-top: 5%;
    margin: 0 auto;
    width: 90vw;
    height: 85vw;
  }
  #movie-button {
    white-space: normal;
  }
}
@media (min-width: 375px) {
  .movie-search-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 90%;
    font-size: 1.4rem;
  }

  #movie-search-result-font {
    margin-left: 1%;
  }
  .movie-search-result-iframe {
    margin-top: 5%;
    width: 85vw;
    height: 85vw;
  }
}
@media (min-width: 425px) {
  .movie-search-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 90%;
    font-size: 1.45rem;
  }

  #movie-search-result-font {
    margin-left: 1%;
  }
  .movie-search-result-iframe {
    margin-top: 5%;
    width: 80vw;
    height: 60vw;
  }
}

@media (min-width: 755px) {
  .movie-search-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 90%;
  }

  #movie-search-result-font {
    margin-left: 1%;
    font-size: 1.6rem;
  }
}
@media (max-width: 766px) {
  .movie-search-result-card {
    color: black;
    background-blend-mode: overlay;
    background-size: cover;
    background-color: #c7cbd4;
    background-position: 0% 25%;
    background-repeat: no-repeat;
    backface-visibility: hidden;
  }
}

@media (min-width: 768px) {
  .movie-search-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 93.5%;
  }

  #movie-search-result-font {
    letter-spacing: 0.2px;
    line-height: inherit;
    outline-style: none;
    font-size: 1.45rem;
  }
  .movie-search-result-iframe {
    margin-top: 5%;
    width: 60vw;
    height: 40vw;
  }
}
@media (min-width: 931) {
  .movie-search-result-iframe {
    margin-top: 5%;
    width: 55vw;
    height: 40vw;
  }
}
@media (min-width: 1024px) {
  .movie-search-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 75%;
    font-size: 1.55rem;
  }

  #movie-search-result-font {
    margin-left: 1%;
  }
  .movie-search-result-iframe {
    margin-top: 3%;
    width: 60vw;
    height: 40vw;
  }
}
@media (min-width: 1200px) {
  .movie-search-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 60%;
  }

  #movie-search-result-font {
    margin-left: 0%;
    font-size: 1.55rem;
  }
  .movie-search-result-iframe {
    margin-top: 2%;
    width: 60vw;
    height: 30vw;
  }
}
@media (min-width: 1440px) {
  .movie-search-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
    font-size: 1.4rem;
  }

  #movie-search-result-font {
    margin-left: 1%;
  }
  .movie-search-result-iframe {
    margin-top: 5%;
    width: 60vw;
    height: 40vw;
  }
}
@media (min-width: 2560px) {
  #movie-search-result-font-size {
    font-size: 2.5rem;
  }
}
