.movie-search-container {
  display: flex;
  justify-content: space-between;
  min-width: 20%;
  margin: 0 auto;
  width: 50%;
}
#movie-model {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.1); /* Black w/ opacity */
  background-color: rgb(0, 0, 0); /* Fallback color */
  min-width: 60px;
}
.movie-search-result-iframe {
  border: 2px solid whitesmoke;
  width: 93.8%;
}
.movie-image {
  min-width: 60px;
  max-width: 80%;
}
.close {
  color: #ffffff;
  font-size: 60px;
  font-weight: bold;
  position: absolute;
  right: 35px;
  top: 15px;
  transition: 0.3s;
}
.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}
#close-button {
  color: red;
  font-weight: bolder;
  font-size: 3.7em;
  margin-top: 0%;
  margin-right: 1%;
  z-index: 1;
}

#movie-search-result-font {
  font-size: 1.3rem;
}
.moive-trailer {
  color: black;
  font-size: 1.3rem;
  font-weight: bold;
  margin-left: 2.2%;
}
@media (min-width: 320px) {
  .movie-search-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 90%;
    font-size: 1.3rem;
  }
  .movie-image {
    width: 65%;
    margin-left: 5%;
  }
  #movie-search-result-font {
    margin-left: 1%;
  }
  .movie-search-result-iframe {
    border: 2px solid whitesmoke;
    width: 98%;
    margin-left: 1%;
  }
}
@media (min-width: 375px) {
  .movie-search-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 90%;
    font-size: 1.4rem;
  }
  .movie-image {
    width: 65%;
    margin-left: 4%;
  }
  #movie-search-result-font {
    margin-left: 1%;
  }
}
@media (min-width: 425px) {
  .movie-search-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 90%;
    font-size: 1.45rem;
  }
  .movie-image {
    width: 65%;
    margin-left: 4%;
  }
  #movie-search-result-font {
    margin-left: 1%;
  }
}

@media (min-width: 755px) {
  .movie-search-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
    font-size: 1.45rem;
  }
  .movie-image {
    max-width: 40%;
    margin-left: 6%;
  }
  #movie-search-result-font {
    margin-left: 1%;
  }
}

@media (min-width: 768px) {
  .movie-image {
    max-width: 100%;
    margin-left: 6%;
  }
  #movie-search-result-font {
    font-size: 1.3rem;
  }
}

@media (min-width: 1024px) {
  .movie-search-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 50%;
    font-size: 1.45rem;
  }
  .movie-image {
    max-width: 100%;
    margin-left: 6%;
  }
  #movie-search-result-font {
    margin-left: 1%;
  }
}

@media (min-width: 1440px) {
  .movie-search-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
    font-size: 1.3rem;
  }
  .movie-image {
    max-width: 50%;
    margin-left: 6%;
  }
  #movie-search-result-font {
    margin-left: 1%;
  }
}
@media (min-width: 2560px) {
  .movie-image {
    min-width: 60px;
    max-width: 100%;
    margin-left: 5%;
  }
  #movie-search-result-font-size {
    font-size: 2.5rem;
  }
}
