#model {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.1); /* Black w/ opacity */
  background-color: rgb(0, 0, 0); /* Fallback color */
  min-width: 60px;
}
/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 23%;
  max-width: 35%;
  margin-bottom: 0%;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  font-size: 1.4em;
  color: #ffffff;
  padding: 10px 0;
  height: 150px;
  background-color: rgba(0, 0, 0, 0.1); /* Black w/ opacity */
}

/* Add Animation */
#modal-content,
#caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}
@keyframes zoom {
  from {
    transform: scale(0.1);
  }
  to {
    transform: scale(1);
  }
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  #modal-content {
    width: 100%;
  }
}
#error-close-button {
  color: red;
  font-weight: bolder;
  font-size: 4.2em;
  margin-top: 48.3%;
  margin-right: 20%;
  z-index: 1;
}

.error-paragraph {
  color: white;
  font-size: 2.2rem;
  margin-left: 38%;
}

img {
  width: 100%;
}

.input-container {
  border: 2px solid grey;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: rgba(0, 0, 0, 0);
  outline: 0;
  width: 20vw;
  margin: 0 auto;
  font-size: 1.2em;
}

.input-style {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  outline: 0;
  width: 17vw;
  font-size: 1.2em;
}
#input:hover {
  animation-name: borderEffect;
  animation-duration: 1.5s;
  animation-delay: -0.5s;
  animation-iteration-count: 2;
  animation-timing-function: ease-in-out;
  background-color: rgb(185, 184, 184);
  transition: 0.3s;
}
@keyframes borderEffect {
  0% {
    border-top-style: solid;
    border-top-color: whitesmoke;
  }
  25% {
    border-right-style: solid;
    border-right-color: whitesmoke;
  }
  50% {
    border-bottom-style: solid;
    border-bottom-color: whitesmoke;
  }
  100% {
    border-left-style: solid;
    border-left-color: whitesmoke;
  }
}
#SearchButton {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  outline: 0;
  font-size: 1em;
  display: inline;
}

/*From a minimum width and bigger*/
@media (min-width: 320px) {
  .input-container {
    width: 50vw;
    font-size: 1.2rem;
  }
  .input-style {
    width: 38vw;
  }
}

@media (min-width: 425px) {
  .input-style {
    width: 40vw;
  }
}
@media (min-width: 768px) {
  .input-container {
    font-size: 1.3rem;
  }
  .input-style {
    width: 43vw;
  }
}

@media (min-width: 1024px) {
  .input-container {
    width: 25vw;
    font-size: 1.5rem;
  }
  .input-style {
    width: 20vw;
  }
  #SearchButton {
    font-size: 1.2em;
  }
}
@media (min-width: 1440px) {
  .input-container {
    width: 21vw;
    font-size: 2rem;
  }
  .input-style {
    width: 17vw;
  }
}
@media (min-width: 2560px) {
  .input-container {
    width: 25vw;
    font-size: 2.5rem;
  }
  .input-style {
    width: 22vw;
  }
}
