.close-tv-show-trailer-button {
  color: #e20a0a;
  font-size: 3.7em;
  font-weight: bolder;
  position: absolute;
  right: 0px;
  top: 0px;
  cursor: pointer;
  z-index: 1;
}
.tv-show-trailer-container {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  min-width: 10%;
  width: 100%;
}
#show-trailer {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.1); /* Black w/ opacity */
  background-color: rgb(0, 0, 0); /* Fallback color */
  min-width: 60px;
}

.search-container {
  display: flex;
  justify-content: space-between;
  min-width: 10%;
  margin: 0 auto;
  width: 50%;
  font-size: 1.3rem;
}

.show-image {
  max-width: 70%;
  min-width: 60px;
}

.close {
  color: #ffffff;
  font-size: 60px;
  font-weight: bold;
  position: absolute;
  right: 35px;
  top: 15px;
  transition: 0.3s;
}
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
  text-decoration: none;
}
#close-button {
  color: red;
  font-weight: bolder;
  font-size: 4.2rem;
  margin-top: 0%;
  margin-right: 0%;
  z-index: 1;
}

#show-error-paragraph {
  color: black;
  font-size: 1.3rem;
  font-weight: bold;
  margin-left: 3%;
}

@media (min-width: 320px) {
  .search-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 90%;
    font-size: 1.3rem;
  }
  #search-result-tv-show-trailer-iframe {
    margin-top: 5%;
    width: 90vw;
    height: 85vw;
  }
  .show-image {
    max-width: 65%;
    margin-left: 4.3%;
  }
  #search-result-font {
    margin-left: 1%;
  }
  #tv-show-search-result-button {
    white-space: normal;
  }
}
@media (min-width: 375px) {
  .search-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 90%;
    font-size: 1.4rem;
  }
  .show-image {
    max-width: 65%;
    margin-left: 4.3%;
  }
  #search-result-tv-show-trailer-iframe {
    margin-top: 5%;
    width: 85vw;
    height: 85vw;
  }
  #search-result-font {
    margin-left: 1%;
  }
}
@media (min-width: 425px) {
  .search-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 90%;
    font-size: 1.45rem;
  }
  .show-image {
    max-width: 65%;
    margin-left: 4.3%;
  }
  #search-result-tv-show-trailer-iframe {
    margin-top: 5%;
    width: 80vw;
    height: 60vw;
  }
  #search-result-font {
    margin-left: 1%;
  }
}
@media (min-width: 755px) {
  .search-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
    font-size: 1.45rem;
  }
  .show-image {
    max-width: 40%;
    margin-left: 2.5%;
  }

  #search-result-font {
    margin-left: 1%;
  }
}
@media (min-width: 768px) {
  .show-image {
    max-width: 100%;
    min-width: 60px;
    margin-left: 7%;
  }
  #search-result-tv-show-trailer-iframe {
    margin-top: 5%;
    width: 60vw;
    height: 40vw;
  }
  #search-result-font {
    font-size: 1.3rem;
  }
}
@media (min-width: 931) {
  #search-result-tv-show-trailer-iframe {
    margin-top: 5%;
    width: 55vw;
    height: 40vw;
  }
}
@media (min-width: 1024px) {
  .search-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 50%;
    font-size: 1.45rem;
  }
  .show-image {
    max-width: 100%;
    margin-left: 7%;
  }
  #search-result-tv-show-trailer-iframe {
    margin-top: 3%;
    width: 60vw;
    height: 40vw;
  }
  #search-result-font {
    margin-left: 1%;
  }
}
@media (min-width: 1200px) {
  #search-result-tv-show-trailer-iframe {
    margin-top: 2%;
    width: 60vw;
    height: 30vw;
  }
}
@media (min-width: 1440px) {
  .search-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 50%;
    font-size: 1.3rem;
  }
  #search-result-font {
    margin-left: 1%;
  }
  #search-result-tv-show-trailer-iframe {
    margin-top: 5%;
    width: 60vw;
    height: 40vw;
  }
  .show-image {
    max-width: 50%;
    min-width: 60px;
    margin-left: 7%;
  }
}
@media (min-width: 2560px) {
  .search-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 50%;
    font-size: 1.3rem;
  }
  #search-result-font {
    margin-left: 1%;
  }
  .show-image {
    max-width: 50%;
    min-width: 60px;
    margin-left: 7%;
  }
}
