.search-container {
  display: flex;
  justify-content: space-between;
  min-width: 10%;
  margin: 0 auto;
  width: 75%;
}

.ShowImage {
  max-width: 70%;
  min-width: 60px;
}

.close {
  color: #ffffff;
  font-size: 60px;
  font-weight: bold;
  position: absolute;
  right: 35px;
  top: 15px;
  transition: 0.3s;
}
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
  text-decoration: none;
}
#close-button {
  color: red;
  font-weight: bolder;
  font-size: 4.2rem;
  margin-top: 0%;
  margin-right: 0%;
  z-index: 1;
}
#font-size {
  font-size: 1.3rem;
}
#show-error-paragraph {
  color: black;
  font-size: 1.3rem;
  font-weight: bold;
  margin-left: 3%;
}
#show-trailer {
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 2.2%;
}
.iframe {
  border: 2px solid whitesmoke;
  margin-left: 2%;
  width: 95%;
}
@media (min-width: 320px) {
  .ShowImage {
    max-width: 65%;
    min-width: 60px;
    margin-left: 5.5%;
  }
}
@media (min-width: 768px) {
  .ShowImage {
    max-width: 100%;
    min-width: 60px;
    margin-left: 7%;
  }
  #search-result-font-size {
    font-size: 1.3rem;
  }
}
@media (min-width: 1024px) {
  .ShowImage {
    max-width: 100%;
    min-width: 60px;
    margin-left: 7%;
  }
  #search-result-font-size {
    font-size: 1.8rem;
  }
}
@media (min-width: 1440px) {
  .ShowImage {
    max-width: 100%;
    min-width: 60px;
    margin-left: 7%;
  }
  #search-result-font-size {
    font-size: 2rem;
  }
}
@media (min-width: 2560px) {
  .ShowImage {
    max-width: 100%;
    min-width: 60px;
    margin-left: 7%;
  }
  #search-result-font-size {
    font-size: 2.5rem;
  }
}
