#login-form {
  width: 30%;
  margin: 0 auto;
  font: 2rem;
  background-color: rgb(218, 213, 213);
  font-family: "Oswald", sans-serif;
}

.pop-up {
  color: rgb(235, 44, 44);
  text-align: center;
  border-radius: 6px;
  background-color: rgb(46, 45, 45);
  padding: 8px 0;
  font-weight: 600;
  font-size: 1.4rem;
  animation-name: fadeIn 1s;
}
@media (min-width: 320px) {
  #login-form {
    width: 80vw;
    margin: 0 auto;
    font: 2rem;
    margin-top: 5%;
  }
}

@media (min-width: 768px) {
  #login-form {
    width: 50vw;
    margin: 0 auto;
    font: 2rem;
    margin-top: 5%;
  }
}

@media (min-width: 1024px) {
  #login-form {
    width: 30vw;
    margin: 0 auto;
    font: 2rem;
    margin-top: 5%;
  }
}

@media (min-width: 1440px) {
  #login-form {
    width: 35vw;
    margin: 0 auto;
    font: 2rem;
    margin-top: 5%;
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
