.pop-up {
  color: rgb(235, 44, 44);
  text-align: center;
  border-radius: 6px;
  background-color: rgb(46, 45, 45);
  padding: 8px 0;
  font-weight: 600;
  font-size: 1.4rem;
  animation-name: fadeIn 1s;
}
@media (min-width: 320px) {
  #forgot-password-link {
    color: #ff4545;
    font-weight: lighter;
    text-decoration: none;
    width: 90%;
  }
  #login-form {
    margin: 0 auto;
    font: 2rem;
    margin-top: 10%;
    width: 70vw;
    color: #c2dfe3;
    letter-spacing: 0.15rem;
    background-color: #0b3c49;
    font-family: "Oswald", sans-serif;
  }
  .login-inputs {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
    box-shadow: none;
    letter-spacing: 0.1rem;
  }
  .login-inputs:focus {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
    box-shadow: none;
    color: #e0fbfc;
    border-color: #bada55;
    border-bottom-width: medium;
  }
}
@media (min-width: 720px) {
  #forgot-password-link {
    color: #ff4545;
    font-weight: lighter;
    text-decoration: none;
    width: 40%;
  }
  #login-form {
    margin: 0 auto;
    font: 2rem;
    width: 50vw;
    margin-top: 10%;
    color: #c2dfe3;
    letter-spacing: 0.15rem;
    background-color: #0b3c49;
    font-family: "Oswald", sans-serif;
  }
}

@media (min-width: 1024px) {
  #forgot-password-link {
    color: #ff4545;
    font-weight: lighter;
    text-decoration: none;
    width: 50%;
  }
  #login-form {
    margin: 0 auto;
    font: 2rem;
    margin-top: 7%;
    width: 30vw;
    color: #c2dfe3;
    letter-spacing: 0.15rem;
    background-color: #0b3c49;
    font-family: "Oswald", sans-serif;
  }
}

@media (min-width: 1920px) {
  #login-form {
    margin: 0 auto;
    font: 2rem;
    margin-top: 7%;
    width: 35vw;
    color: #c2dfe3;
    letter-spacing: 0.15rem;
    background-color: #0b3c49;
    font-family: "Oswald", sans-serif;
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
