.slider-container {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  width: 10%;
}
#slider-box {
  width: 40%;
}
* {
  box-sizing: border-box;
}

/* Hide the images by default */
#slider {
  display: block;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/*From a minimum width and bigger*/

@media (min-width: 768px) {
  #slider-box {
    width: 27%;
  }
}

@media (min-width: 1024px) {
  #slider-box {
    width: 30%;
  }
}

@media (min-width: 2560px) {
  #slider-box {
    width: 35%;
  }
}
