#carousel-card {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.1); /* Black w/ opacity */
  background-color: rgb(0, 0, 0); /* Fallback color */
  min-width: 60px;
}

.carousel-container {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  min-width: 10%;
  width: 50%;
  font-family: "Roboto Condensed", sans-serif;
}
.carousel-card {
  background-size: contain;
  background-color: #c7cbd4;
  background-position: 0% 30%;
  background-repeat: no-repeat;
  backface-visibility: hidden;
}
#slider-box {
  border: none;
  outline: none;
  padding: 0;
  background: none;
  width: 40%;
}

/* Animations*/
#carousel-card {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

.slider-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 80%;
  min-width: 50%;
}
@keyframes zoom {
  from {
    transform: scale(0.4);
  }
  to {
    transform: scale(1);
  }
}
@keyframes fade {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}

/*From a minimum width and bigger*/

@media (min-width: 320px) {
  #carousel-card {
    padding-top: 75px;
  }
  .carousel-container {
    margin: 0 auto;
    width: 90%;
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: 1.25rem;
  }

  #slider-card-button {
    white-space: normal;
  }
}
@media (min-width: 375px) {
  #carousel-card {
    padding-top: 60px;
  }
  .carousel-container {
    margin: 0 auto;
    width: 90%;
    padding-left: 2vw;
    padding-right: 1vw;
    font-size: 1.3rem;
  }

  #carousel-card-font {
    margin-left: 1%;
  }
}
@media (min-width: 425px) {
  #carousel-card {
    padding-top: 55px;
  }
  .carousel-container {
    margin: 0 auto;
    width: 90%;
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: 1.3rem;
  }

  #carousel-card-font {
    margin-left: 1.5%;
  }
}
@media (max-width: 766px) {
  .carousel-card {
    color: black;
    background-blend-mode: overlay;
    background-size: cover;
    background-color: #c7cbd4;
    background-position: 0% 25%;
    background-repeat: no-repeat;
    backface-visibility: hidden;
    margin-top: 5vh;
    padding-top: 10vh;
  }
}
@media (min-width: 768px) {
  #carousel-card {
    padding-top: 90px;
  }
  .carousel-container {
    margin: 0 auto;
    width: 93.5%;
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: 1.6rem;
  }

  #carousel-card-font {
    margin-left: 0%;
  }
}

@media (min-width: 1024px) {
  #carousel-card {
    padding-top: 80px;
  }
  .carousel-container {
    margin: 0 auto;
    width: 80%;
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: 1.5rem;
  }

  #carousel-card-font {
    margin-left: 1%;
  }
}
@media (min-width: 1085px) {
  #carousel-card {
    padding-top: 60px;
  }
  .carousel-container {
    margin: 0 auto;
    margin-top: 5vh;
    width: 65%;
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: 1.6rem;
  }

  #carousel-card-font {
    margin-left: -7.5%;
  }
}
@media (min-width: 1440px) {
  .carousel-container {
    margin: 0 auto;
    width: 70%;
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: 1.4rem;
  }
}
@media (min-width: 2560px) {
  #carousel-card {
    padding-top: 250px;
  }
  .carousel-container {
    margin: 0 auto;
    width: 70%;
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: 2.3rem;
  }
}
