.my-movies-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
}

#my-movies-item:hover {
  box-shadow: 0px 1px 9px whitesmoke;
  opacity: 0.8 grey;
  transition: 0.2s;
  transform: translate(1px, -5px);
}
.movie-container {
  display: flex;
  justify-content: space-between;
  min-width: 50%;
  margin: 0 auto;
  width: 85%;
}
.poster {
  min-width: 60px;
  width: 24%;
}

img {
  width: 100%;
}

#boxMovie:hover {
  box-shadow: 0px 1px 9px whitesmoke;
  opacity: 0.8 grey;
  transition: 0.2s;
  max-width: 265px;
}

@media (min-width: 320px) {
  .my-movies-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    margin-left: 3%;
  }
  .my-movies-image-container {
    max-width: 25%;
    margin-left: 4.5%;
  }
  .my-movies-card-font {
    font-size: 1.5rem;
    margin-left: 1%;
  }
}
@media (min-width: 425px) {
  .my-movies-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    margin-left: 15%;
  }
  .my-movies-image-container {
    max-width: 25%;
    margin-left: 4%;
  }
  .my-movies-card-font {
    font-size: 1.5rem;
    margin-left: 1%;
  }
}

@media (min-width: 768px) {
  .my-movies-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    margin-left: 2%;
  }
  .my-movies-image-container {
    max-width: 25%;
    margin-left: 4%;
  }
  .my-movies-card-font {
    font-size: 1.5rem;
    margin-left: 1%;
  }
}

@media (min-width: 1024px) {
  .my-movies-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    margin-left: 2%;
  }
  .my-movies-image-container {
    max-width: 25%;
    margin-left: 3%;
  }
  .my-movies-card-font {
    font-size: 1.6rem;
    margin-left: 1%;
  }
}
@media (min-width: 1200px) {
  .my-movies-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    margin-left: 2%;
  }
  .my-movies-image-container {
    max-width: 25%;
    margin-left: 3.5%;
  }
  .my-movies-card-font {
    font-size: 1.6rem;
    margin-left: 1%;
  }
}
