.movieContainer {
  display: flex;
  justify-content: space-between;
  min-width: 50%;
  margin: 0 auto;
  width: 85%;
}
.poster1 {
  min-width: 60px;
  width: 24%;
}
.poster2 {
  min-width: 60px;
  width: 24%;
}
.poster3 {
  min-width: 60px;
  width: 24%;
}
.poster4 {
  min-width: 60px;
  width: 24%;
}
img {
  width: 100%;
}

#boxMovie:hover {
  box-shadow: 0px 1px 9px whitesmoke;
  opacity: 0.8 grey;
  transition: 0.2s;
  max-width: 265px;
}
