#one-movie-item:hover {
  box-shadow: 0px 1px 9px whitesmoke;
  opacity: 0.8 grey;
  transition: 0.2s;
  transform: translate(1px, -5px);
}

@media (min-width: 320px) {
  .one-movie-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    margin-left: 5%;
  }
  .one-movie-card {
    width: 80%;
  }
  .one-movie-image-container {
    max-width: 30%;
    margin-left: 5%;
  }
  .one-movie-card-font {
    font-size: 1.5rem;
    margin-left: 1%;
  }
}

@media (min-width: 375px) {
  .one-movie-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    margin-left: 12%;
  }
  .one-movie-card {
    width: 80%;
  }
}
@media (min-width: 425px) {
  .one-movie-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    margin-left: 17%;
  }
  .one-movie-card {
    width: 80%;
  }
  .one-movie-image-container {
    max-width: 28%;
    margin-left: 4.5%;
  }
  .one-movie-card-font {
    font-size: 1.5rem;
    margin-left: 1%;
  }
}

@media (min-width: 720px) {
  .one-movie-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    margin-left: 17%;
  }
  .one-movie-image-container {
    max-width: 25%;
    margin-left: 3%;
  }
  .one-show-card {
    width: 80%;
  }
  .one-show-card-font {
    font-size: 1.5rem;
    margin-left: 1%;
  }
}

@media (min-width: 1024px) {
  .one-show-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    margin-left: 15%;
  }
  .one-movie-image-container {
    max-width: 25%;
    margin-left: 2%;
  }
  .one-movie-card {
    width: 80%;
  }
  .one-moive-card-font {
    font-size: 1.6rem;
    margin-left: 1%;
  }
}
@media (min-width: 1200px) {
  .one-movie-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    margin-left: 25%;
  }
  .one-movie-image-container {
    max-width: 25%;
    margin-left: 1.9%;
  }
  .one-movie-card {
    width: 70%;
  }
  .one-movie-card-font {
    font-size: 1.8rem;
    margin-left: 1%;
  }
}
