@media (min-width: 320px) {
  #reset-password-form {
    width: 70vw;
    margin: 0 auto;
    margin-top: 10%;
    font: 2rem;
    color: #c2dfe3;
    letter-spacing: 0.15rem;
    background-color: #0b3c49;
    font-family: "Oswald", sans-serif;
  }
  .reset-password-input {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
    box-shadow: none;
    letter-spacing: 0.1rem;
  }
  .reset-password-input:focus {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
    box-shadow: none;
    color: #e0fbfc;
    border-color: #bada55;
    border-bottom-width: medium;
  }
}
@media (min-width: 720px) {
  #reset-password-form {
    width: 50vw;
    margin: 0 auto;
    margin-top: 10%;
    font: 2rem;
    color: #c2dfe3;
    letter-spacing: 0.15rem;
    background-color: #0b3c49;
    font-family: "Oswald", sans-serif;
  }
}

@media (min-width: 1024px) {
  #reset-password-form {
    width: 30vw;
    margin: 0 auto;
    margin-top: 10%;
    font: 2rem;
    color: #c2dfe3;
    letter-spacing: 0.15rem;
    background-color: #0b3c49;
    font-family: "Oswald", sans-serif;
  }
}

@media (min-width: 1920px) {
  #reset-password-form {
    width: 30vw;
    margin: 0 auto;
    margin-top: 10%;
    font: 2rem;
    color: #c2dfe3;
    letter-spacing: 0.15rem;
    background-color: #0b3c49;
    font-family: "Oswald", sans-serif;
  }
}
