.my-shows-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
}

#my-shows-item:hover {
  box-shadow: 0px 1px 9px whitesmoke;
  opacity: 0.8 grey;
  transition: 0.2s;
  transform: translate(1px, -5px);
}
