.my-shows-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  margin-top: 3%;
  margin-left: 20%;
}

#my-shows-item:hover {
  box-shadow: 0px 1px 9px whitesmoke;
  opacity: 0.8 grey;
  transition: 0.2s;
  transform: translate(1px, -5px);
}

@media (min-width: 320px) {
  .my-shows-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    margin-left: 3%;
  }
  .my-shows-image-container {
    max-width: 25%;
    margin-left: 4.5%;
  }
  .my-shows-card-font {
    font-size: 1.5rem;
    margin-left: 1%;
  }
}
@media (min-width: 425px) {
  .my-shows-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    margin-left: 15%;
  }
  .my-shows-image-container {
    max-width: 25%;
    margin-left: 4%;
  }
  .my-shows-card-font {
    font-size: 1.5rem;
    margin-left: 1%;
  }
}

@media (min-width: 768px) {
  .my-shows-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    margin-left: 2%;
  }
  .my-shows-image-container {
    max-width: 25%;
    margin-left: 4%;
  }
  .my-shows-card-font {
    font-size: 1.5rem;
    margin-left: 1%;
  }
}

@media (min-width: 1024px) {
  .my-shows-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    margin-left: 2%;
  }
  .my-shows-image-container {
    max-width: 25%;
    margin-left: 3%;
  }
  .my-shows-card-font {
    font-size: 1.6rem;
    margin-left: 1%;
  }
}
@media (min-width: 1200px) {
  .my-shows-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    margin-left: 2%;
  }
  .my-shows-image-container {
    max-width: 25%;
    margin-left: 3.5%;
  }
  .my-shows-card-font {
    font-size: 1.6rem;
    margin-left: 1%;
  }
}
