@keyframes slide-in-slide-out {
  0% {
    transform: translateX(-120px);
  }
  50% {
    transform: translateX(130px);
  }
  100% {
    transform: translateX(-120px);
    color: transparent;
  }
}
#sorted-text {
  animation-name: slide-in-slide-out;
  animation-duration: 7s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  margin-left: -120px;
  width: 60vw;
}

#my-shows-item:hover {
  box-shadow: 0px 1px 9px whitesmoke;
  opacity: 0.8 grey;
  transition: 0.2s;
  transform: translate(1px, -5px);
}

@media (min-width: 320px) {
  .my-shows-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(37rem, 1fr));
    margin-left: 6.5%;
  }
  .my-shows-image-container {
    max-width: 25%;
    margin-left: 4.5%;
  }
  .my-shows-card {
    width: 75%;
  }
  .my-shows-card-font {
    font-size: 1.5rem;
    margin-left: 1%;
  }
}
@media (min-width: 375px) {
  .my-shows-container {
    margin-left: 14%;
  }
}
@media (min-width: 425px) {
  .my-shows-container {
    margin-left: 15.5%;
  }
  .my-shows-image-container {
    max-width: 25%;
    margin-left: 4%;
  }

  .my-shows-card-font {
    font-size: 1.5rem;
    margin-left: 1%;
  }
}

@media (min-width: 720px) {
  .my-shows-container {
    margin-left: 18%;
  }
  .my-shows-image-container {
    max-width: 25%;
    margin-left: 2.5%;
  }
  .my-shows-card {
    width: 74%;
  }
  .my-shows-card-font {
    font-size: 1.5rem;
    margin-left: 1%;
  }
}

@media (min-width: 1024px) {
  .my-shows-container {
    margin-left: 11%;
  }
  .my-shows-image-container {
    max-width: 25%;
    margin-left: 3.5%;
  }

  .my-shows-card-font {
    font-size: 1.6rem;
    margin-left: 1%;
  }
}
@media (min-width: 1200px) {
  .my-shows-container {
    grid-template-columns: repeat(auto-fit, minmax(47rem, 1fr));
    margin-left: 10%;
  }

  .my-shows-image-container {
    max-width: 25%;
    margin-left: 3.5%;
  }
  .my-shows-card-font {
    font-size: 1.6rem;
    margin-left: 1%;
  }
}
