.one-show-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  margin-top: 3%;
}

#one-show-item:hover {
  box-shadow: 0px 1px 9px whitesmoke;
  opacity: 0.8 grey;
  transition: 0.2s;
  transform: translate(1px, -5px);
}

@media (min-width: 320px) {
  .one-show-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    margin-left: 3%;
  }
  .one-show-image-container {
    max-width: 25%;
    margin-left: 6.5%;
  }
  .one-show-card-font {
    font-size: 1.4rem;
    margin-left: 1%;
  }
}
@media (min-width: 425px) {
  .one-show-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    margin-left: 25%;
  }
  .one-show-image-container {
    max-width: 28%;
    margin-left: 5%;
  }
  .one-show-card-font {
    font-size: 1.5rem;
    margin-left: 1%;
  }
}

@media (min-width: 768px) {
  .one-show-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    margin-left: 2%;
  }
  .one-show-image-container {
    max-width: 25%;
    margin-left: 4%;
  }
  .one-show-card-font {
    font-size: 1.5rem;
    margin-left: 1%;
  }
}

@media (min-width: 1024px) {
  .one-show-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    margin-left: 5%;
  }
  .one-show-image-container {
    max-width: 25%;
    margin-left: 2.4%;
  }
  .one-show-card-font {
    font-size: 1.6rem;
    margin-left: 1%;
  }
}
@media (min-width: 1200px) {
  .one-show-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    margin-left: 5%;
  }
  .one-show-image-container {
    max-width: 25%;
    margin-left: 1.8%;
  }
  .one-show-card-font {
    font-size: 1.6rem;
    margin-left: 1%;
  }
}
