.close-card {
  color: #e20a0a;
  font-size: 60px;
  font-weight: bold;
  position: absolute;
  right: 35px;
  top: 15px;
  transition: 0.3s;
}
.close-card:hover {
  color: red;
  text-decoration: none;
  cursor: pointer;
}
#close-card-button {
  color: red;
  font-weight: bolder;
  font-size: 3.7em;
  margin-top: 0%;
  margin-right: 1%;
  z-index: 1;
}
.container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 80%;
  min-width: 50%;
}
#movie-carousel-card {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.1); /* Black w/ opacity */
  background-color: rgb(0, 0, 0); /* Fallback color */
  min-width: 60px;
}
#movie-slider {
  display: block;
}
.movie-carousel-container {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  min-width: 10%;
  width: 50%;
}
#movie-slider-box {
  border: none;
  outline: none;
  padding: 0;
  background: none;
  width: 40%;
}
.movie-image {
  max-width: 70%;
  min-width: 60px;
}
/* Animations*/
#movie-carousel-card {
  -webkit-animation-name: movie-zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: movie-zoom;
  animation-duration: 0.6s;
  -webkit-animation-name: movie-fade;
  -webkit-animation-duration: 0.6s;
  animation-name: movie-fade;
  animation-duration: 0.6s;
}

@keyframes movie-zoom {
  from {
    transform: scale(0.4);
  }
  to {
    transform: scale(1);
  }
}
@keyframes movie-fade {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}

/*From a minimum width and bigger*/

@media (min-width: 320px) {
  #movie-carousel-card-font {
    font-size: 1.4rem;
    font-weight: bold;
  }
  #movie-slider-box {
    width: 60vw;
  }
  #movie-carousel-card-iframe {
    margin: 0 auto;
    width: 85vw;
    height: 85vw;
  }
  #movie-carousel-card {
    padding-top: 75px;
  }
  .movie-carousel-container {
    margin: 0 auto;
    width: 100%;
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: 1.25rem;
  }
}
@media (min-width: 375px) {
  #movie-carousel-card-font {
    font-size: 1.4rem;
    font-weight: bold;
  }
  #movie-slider-box {
    width: 59vw;
  }
  #movie-carousel-card-iframe {
    width: 90vw;
    height: 90vw;
  }
}

@media (min-width: 425px) {
  #movie-carousel-card-font {
    font-size: 1.5rem;
    font-weight: bold;
  }
  #movie-slider-box {
    width: 59.5vw;
  }
  #movie-carousel-card-iframe {
    width: 80vw;
    height: 60vw;
  }
}

@media (min-width: 768px) {
  #movie-carousel-card-font {
    font-size: 1.5rem;
    font-weight: bold;
  }
  #movie-slider-box {
    width: 59.5vw;
  }
  #movie-carousel-card-iframe {
    width: 60vw;
    height: 40vw;
  }
}
@media (min-width: 931px) {
  #movie-carousel-card-font {
    font-size: 1.5rem;
    font-weight: bold;
  }
  #movie-slider-box {
    width: 48vw;
  }
  #movie-carousel-card-iframe {
    width: 55vw;
    height: 45vw;
  }
}

@media (min-width: 1024px) {
  #movie-carousel-card-font {
    font-size: 1.5rem;
    font-weight: bold;
  }
  #movie-slider-box {
    width: 43vw;
  }
  #movie-carousel-card-iframe {
    width: 55vw;
    height: 35vw;
  }
}
@media (min-width: 1440px) {
  #movie-carousel-card-font {
    font-size: 1.7rem;
    font-weight: bold;
  }
  #movie-slider-box {
    width: 40vw;
  }
  #movie-carousel-card-iframe {
    width: 60vw;
    height: 45vw;
  }
}
